header {
    text-align: center;
    margin-top: 110px;

}
body {

}
div.circle {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  color: black;
  font-family: Helvetica, Arial Black, sans;
  font-size: 16px;
  text-align: center;
  vertical-align: center;
  width: 500px;
  height: 500px;
  padding: 5%;
  background: #f7ec9a;
  box-shadow: 0px 0px 0px 18px #99bd4f, 0px 0px 0px 36px #7ba237, 0px 0px 0px 52px #2d5109;
  margin-left: 15%; 
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
 
  
}
div.panel {
    padding-top: 10px;
    padding-bottom: 10px;
}
div.field-value {
    display:inline-block;
    color: #99bd4f;
}
div.button {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.btn {
  background: #6b6032;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
.btn:hover {
  background: #534b26;
  text-decoration: none;
}