header {
    text-align: center;

}
body {
    margin-top: 20px 20px 20px 20px;
}
div.circle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  color: black;
  font-family: Helvetica, Arial Black, sans;
  font-size: 16px;
  text-align: center;
  vertical-align: center;
  width: 60%;
  height: 10%;
  padding: 30% 0;
  background: #f7ec9a;
  box-shadow: 0px 0px 0px 10px #99bd4f, 0px 0px 0px 20px #7ba237, 0px 0px 0px 30px #2d5109;
  margin-left: 20%; 
  margin-right: 20%;
  margin-top: 20%;
  margin-bottom: 20%;
  
}
div.panel {
    padding-top: 10px;
    padding-bottom: 10px;
}
div.field-value {
    display:inline-block;
    color: #99bd4f;
}
div.button {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.btn {
  background: #6b6032;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
.btn:hover {
  background: #534b26;
  text-decoration: none;
}